.body_lock {
    overflow: hidden;
}

.menu {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 1);
    position: absolute;
    z-index: 100;
    left: -100%;
    transition: all 0.5s;
}

.menu_active {
    left: 0;
}

.menu-navigation {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100vh;
   justify-content: center;
   align-items: center;
   gap: 19px;
   overflow: auto;
}

.menu-navigation__item {
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    color: #FFFFFF;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: unset;
}

.container {
    position: relative;
    z-index: 50;
    max-width: 1200px;
    margin: 0px auto;
}

.header {
    position: relative;
    width: 100%;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 105;
    transition: all 0.5s;
}

.header__content {
   display:flex;
   min-height: 105px;
   align-items: center;
   justify-content: space-between;
   padding: 0 45px;
   width: 100%;
}

.logo  {
    position: relative;
    z-index: 1000;
}

.navigation__item {
    font-size:14px;
    color:inherit;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: unset;
}

.navigation__item:not(:last-child) {
    margin-right: 30px;
}

.header__right {
    display:flex;
}

.tel {
    position:relative;
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
}
  
.tel__number {
    font-size: 18px;
    font-weight: 500;
}

.menu-button {
    position: relative;
    display: none;
    flex-direction: column;
    cursor: pointer;
    height: 30px;
    justify-content: space-between;
    margin-left: 80px;
}

.menu-button__line {
    position: relative;
    width: 40px;
    transition: all 0.3s;
}

.menu-button_active {
    gap: 0;
    flex-direction: row;
}

.menu-button_active > :nth-child(1) {
    position: absolute;
    bottom: 14px;
    transform: rotate(-45deg);
}

.menu-button_active > :nth-child(2) {
    transform: scale(0);
}

.menu-button_active > :nth-child(3) {
    position: absolute;
    bottom: 14px;
    transform: rotate(45deg);
}

.h2 {
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #3D3D3D;

}

.application-button {
    display: flex;
    margin: 0 auto;  
    font-family: "Roboto Condensed", sans-serif;
    background-color: #FFFFFF;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid #D5D5D5;
    padding-bottom: 6px;
    text-wrap: nowrap;
    height: 52px;
    gap: 5px;
}

.application-arrow {
    position: relative;
    display: inline-block;
    top: 4px;
}

.application-text {
    color: #3D3D3D;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
}

.footer__body {
    max-width: 213;
    height: 61;;
    margin: 95px 0;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    font-family: "Roboto Condensed", sans-serif;
    color: #3D3D3D;
    line-height: 16.41px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.footer__link {
    color: #3D3D3D;
    text-decoration: unset;
}

.footer__copyright {
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    color: #878787;
}

.title {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 150%;
    color: #3D3D3D;
}

@media (max-width:840px) {
    .menu-button {
        display:flex;
    }

    .navigation {
        display: none;
    }
}

@media (max-width: 830px) {
    .similar-projects__img:nth-child(3) {
        display: none;
     }

     .similar-projects__img img {
        width: 350px ;
        height: 324px;
     }
}

@media (max-width:768px) {
    .footer {
        display: flex;
        justify-content: center;
        background-color: #F7F7F7;
    }
}

@media (max-width:768px) {

}


@media (max-width:760px) {
    .application-button {
        height: 40px;
    }

    .application-text {
        font-size: 30px;
    }

    .application-arrow {
        top: 3px;
    }
}

@media (max-width:720px) {
    .menu-button {
        margin-left: 29px;
    }

    .menu-button_active {
        margin-left: 39px;
    }
}

@media (max-width:586px) {
    .application-text {
        font-size: 25px;
    }

    .application-arrow {
        top: 0;
    }
}
@media (max-width:450px) {
    .header__content {
        min-height: 70px;
        padding: 0 15px;
    }

    .header__right {
        align-items: center;
    }
    
    .logo img, .logo-for-menu img {
        width: 30px;
        height: 30px;
    }

    .menu-button {
        height: 20px;
        justify-content: space;
    }

    .menu-button_active {
        width: 26px;
        height: 26px;
    }
    .menu-button_active > :nth-child(1) {
        width: 100%;
        bottom: 11px;
    }

    .menu-button_active > :nth-child(3) {
        width: 100%;
        bottom: 11px;
    }

    .tel__image img, .tel__image-for-menu img {
        width: 21px;
        height: 21px;
    }

    .tel__number {
        font-size: 12px;
    } 

    .h2 {
        font-size: 30px;
    }
    
    .application-button {
        height: 30px;
    }

    .application-text {
        font-size: 16px;
        letter-spacing: 0.12em;
        vertical-align: super;
    }

    .application-arrow {
        top: -3px;
    }

    .title {
        font-size: 20px;
    }

}